---
layout: default
---

		<section class="page-content">
			<header>
			{% if page.featuredimage %}
				<figure>
					<img class="figurehead" src="{{ site.url }}{{ site.imgpath }}{{ page.featuredimage }}" alt="{{ page.title | escape_once }}">
				</figure>
			{% else %}
				<h1>{{ page.title }}</h1>
			{% endif %}
			</header>

			{{ content }}
		</section>
<script type="importmap">
    {
        "imports": {
            "leaflet": "https://unpkg.com/leaflet@2.0.0-alpha.1/dist/leaflet.js"
        }
    }
</script>
<script type="module">
    import L, {Map, TileLayer, Marker, Circle, Polygon, Popup} from 'leaflet';

    const map = new Map('map').setView([53.746079043360844, -2.02770599762106], 18);

    const tiles = new TileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
</script>
