<h2>Himalayan balsam</h2>
<p><a href="https://en.wikipedia.org/wiki/Himalayan_balsam" target="_blank" rel="noreferrer noopener">Himalayan balsam</a> (<em>Impatiens glandulifera</em>) is an invasive plant species native to the Himalayas. It was introduced to Europe in the early 19th century as an ornamental plant and has since spread widely across the continent, particularly along riverbanks and in damp areas.</p>
<p>in Europe, Himalayan balsam has been included since 2017 in the list of Invasive Alien Species of Union concern (the Union list). Its aggressive seed dispersal, coupled with high nectar production which attracts pollinators, often allows it to out-compete native plants.</p>
<p>Himalayan balsam also promotes river bank erosion due to the plant dying back over winter, leaving the bank unprotected from flooding.</p>

