<figure>
    <img src="{{ site.url }}{{ site.imgpath }}tree-felling-cuts.png" alt="Illustration showing the cuts made when felling small trees"/>
</figure>
<ol>
    <li>The <em>notch cut</em> is done first, with the notch on the side of the tree which you want the tree to fall on.</li>
    <li>The <em>felling cut</em> is then done from the back, ensuring it is above the bottom of the notch cut on the other side. When it gets close to the notch cut, leave a <em>hinge</em> to help guide the tree down slowly and keep the trunk intact as long as possible.</li>
</ol>