<p>Rhododendron ponticum is an introduced species in the United Kingdom. It has become invasive, spreading in woodland areas and replacing the natural undergrowth. It is difficult to eradicate, as its roots can make new shoots.</p>
<p>Imported rhododendron plants also carry a strong risk of spreading the deadly disease <a href="https://www.woodlandtrust.org.uk/trees-woods-and-wildlife/tree-pests-and-diseases/key-tree-pests-and-diseases/phytophthora-ramorum/" target="_wt">Phytophthora ramorum</a>, which can be fatal to more than 150 plant species.</p>
<blockquote>
    <p><em>Rhododendron ponticum</em> is a real problem for the UK&rsquo;s native plants and trees. It is choking native woodland and shading out characteristic plants, including in important temperate rainforests, which cover just 1% of land in the UK.</p>
    <cite>Rebecca Gosling, Woodland Trust</cite>
</blockquote>